<div class="card h-100">
  <div class="card-body">
    <form novalidate [formGroup]="this.editForm">

      <div class="form-group row">
        <div class="col-sm-2 col-form-label">
          <label for="name">Name:</label>
        </div>
        <div class="col-sm-10 form-control-plaintext">
          <input id="name" type="text" formControlName="name" />
        </div>
      
        <div class="col-sm-2 col-form-label">
          <label for="username">User Name:</label>
        </div>
        <div class="col-sm-10 form-control-plaintext">
          <input id="username" type="text" formControlName="username" />
        </div>
      
        <div class="col-sm-2 col-form-label">
          <label for="name">Email:</label>
        </div>
        <div class="col-sm-10 form-control-plaintext">
          <input id="name" type="text" formControlName="email" />
        </div>
      
        <div class="col-sm-2 col-form-label">
          <label for="phone">Phone:</label>
        </div>
        <div class="col-sm-10 form-control-plaintext">
          <input id="phone" type="text" formControlName="phone" />
        </div>
      
        <div class="col-sm-2 col-form-label">
          <label for="website">Website:</label>
        </div>
        <div class="col-sm-10 form-control-plaintext">
          <input id="website" type="text" formControlName="website" />
        </div>
      
        <div class="col-sm-2 col-form-label">
          <label for="company1">Company:</label>
        </div>
        <div class="col-sm-10 form-control-plaintext">
          <input id="company1" type="text" formControlName="company1" />
        </div>
      
        <div class="col-sm-2 col-form-label">
          <label for="company2">Company:</label>
        </div>
        <div class="col-sm-10 form-control-plaintext">
          <input id="company2" type="text" formControlName="company2" />
        </div>
     
        <div class="col-sm-2 col-form-label">
          <label for="address1">Address:</label>
        </div>
        <div class="col-sm-10 form-control-plaintext">
          <input id="address1" type="text" formControlName="address1" />
        </div>
      
        <div class="col-sm-2 col-form-label">
          <label for="address2">Address:</label>
        </div>
        <div class="col-sm-10 form-control-plaintext">
          <input id="address2" type="text" formControlName="address2" />
        </div>
      
        <div class="col-sm-2 col-form-label">
          <label for="geo1">Lat:</label>
        </div>
        <div class="col-sm-10 form-control-plaintext">
          <input id="geo1" type="text" formControlName="geo1" />
        </div>
     
        <div class="col-sm-2 col-form-label">
          <label for="geo2">Lng:</label>
        </div>
        <div class="col-sm-10 form-control-plaintext">
          <input id="geo2" type="text" formControlName="geo2" />
        </div>
      </div>

     

    </form> 

  

  </div>
</div>
